<div class="container">
    <div class="header">
        <h1 class="header__sologan">
          {{sologanHeaderAbout}}
        </h1>
            <!-- <div style="width: 80px;height: 80px; right: 36vh;bottom: 500px;background: #6BD5D1;opacity: 0.7;" class="colorBox"></div>
            <div style="width: 44px;height: 44px;left: 30vh;bottom: 450px;background: #6BD5D1;opacity: 0.7;" class="colorBox"></div>
            <div style="width: 70px;height: 70px;left: 400px;top: 188px;background: #00BDF5;opacity: 0.7;" class="colorBox"></div>
            <div style="width: 29px;height: 29px;right: 230px;top: 230px;background: #00BDF5;opacity: 0.7;" class="colorBox"></div> -->
        <div class=" header__title">
            <div class="header__title-columnOne">
                    <img [src] = image1 alt="" class="image1">
            </div>
            <div class="header__title-columnTwo">
                <img [src] = image2 alt="" class="image2">
                <img [src] = image3 alt="" class="image3">
            </div>
        </div>
    </div>
</div>

