
.container {
    margin: 0 16px;


}
.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    right:0;
    left: 0;
    background-color: #99e5fb;
    z-index:3;
    height: 88px;
    padding: 0 16px;
    // margin-bottom: 80px;


}
.header__listbar {
    display: flex;
    align-items: center;
}
.header__menu-down {
    font-size: 28px;
    display: flex;
    align-items: center;
}
.nav__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba( 0, 0 ,0, 0.3);
    display: none;
}
.nav__mobile {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    transform: translateX(100%);
    z-index: 2;
}
input {
    display: none;
}
.nav__input:checked ~ .nav__overlay{
    display: block;
}
.nav__input:checked ~ .nav__mobile{
    transform: translateX(0);
}


.nav__mobile fa-icon {
    position: absolute;
    top: 42px;
    right: 18px;
    font-size: 32px;
}
.nav-mobile-input {
    width: 100%;
}

.nav__mobile-list {
    list-style: none;
    padding-top: 62px;
}

.nav__mobile-list li {
    padding: 12px 0;
}
.nav__mobile-link {
    text-decoration: none;
    color: #333;
    font-size: 1.4rem;
    display: block;
    padding: 24px;
}
.nav__mobile-link:hover {
    background-color: #ccc;
}

.spacer-inner {
    width: 100%;
    height:70px;
}

// tablet and mobile
@media(max-width: 1028px) {
    .header__listbar {
        display: none;
    }
    .header__menu {
        display: block;
    }
}

/* Tablet */
@media(max-width: 1023px) and (min-width: 740px){

}

/*mobile */
@media(max-width: 739px){

}
@media(min-width: 1029px){
    .header__menu-down {
        display: none;
    }
}
