
    <div class="main-logo">
        <div class="rectangles">
            <div class="rectangle__size">
                <div class="rec-26c7f6"></div>
                <div class="rec-26c7f6"></div>
                <div class="rec-6BD5D1"></div>
                <div class="rec-6BD5D1"></div>
            </div>
        </div>
        <div class="main-logo__contact">
            <div class="main-logo__contact-title">
                <div>LIFES</div>
                <div>UP</div>
            </div>
            <div class="main-logo__contact-sologan">
               <div class="">{{sologanBrand}}</div>
            </div>

        </div>
    </div>
