<div class="container">
    <app-banner></app-banner>
    <div class="spacer-inner"></div>
    <app-banner2></app-banner2>
    <div class="spacer-inner"></div>
    <div class="header__content-btn">
        <div [routerLink]="['/about']" class="btn">{{btnHome}}</div>
    </div>
    <div class="spacer-inner"></div>
    <div class="background-color">
      <div id="Services">
          <app-banner3></app-banner3>
      </div>
        <div class="spacer-inner"></div>
        <div id="Cases" >
          <app-banner4></app-banner4>
        </div>
        <div class="spacer-inner"></div>
        <div id="Block">
          <app-banner5></app-banner5>
        </div>
    </div>

</div>
